build/
conf/
spiffs_fs/config.yml.gz
releases/

sdkconfig
sdkconfig.old

main/component.mk
main/init.c
main/core/include_modules.h
main/core/i2c/i2c.c
main/core/modules.h
main/core/kv/kv_helpers_internal.c
main/core/kv/kv.c
main/core/kv/kv.h
main/core/kv/kv_arrays.h
main/core/kv/keys.h
main/core/kv/kv_helpers_internal.h
main/core/kv/kv_helpers.c
main/core/kv/kv_arrays.c
main/core/kv/kv_mapping.c
main/core/stat_dump/stat_dump.c
main/Kconfig.projbuild

build.env
postman
auto-cpufreq/
main/m5tft/utils/characters/normal_size/A.svg
main/m5tft/utils/characters/normal_size/B.svg
main/m5tft/utils/characters/normal_size/C.svg
main/m5tft/utils/characters/normal_size/D.svg
main/m5tft/utils/characters/normal_size/E.svg
main/m5tft/utils/characters/normal_size/F.svg
main/m5tft/utils/characters/normal_size/G.svg
main/m5tft/utils/characters/normal_size/H.svg
main/m5tft/utils/characters/normal_size/I.svg
main/m5tft/utils/characters/normal_size/J.svg
main/m5tft/utils/characters/normal_size/K.svg
main/m5tft/utils/characters/normal_size/L.svg
main/m5tft/utils/characters/normal_size/M.svg
main/m5tft/utils/characters/normal_size/N.svg
main/m5tft/utils/characters/normal_size/O.svg
main/m5tft/utils/characters/normal_size/P.svg
main/m5tft/utils/characters/normal_size/Q.svg
main/m5tft/utils/characters/normal_size/R.svg
main/m5tft/utils/characters/normal_size/S.svg
main/m5tft/utils/characters/normal_size/T.svg
main/m5tft/utils/characters/normal_size/U.svg
main/m5tft/utils/characters/normal_size/V.svg
main/m5tft/utils/characters/normal_size/W.svg
main/m5tft/utils/characters/normal_size/X.svg
main/m5tft/utils/characters/normal_size/Y.svg
main/m5tft/utils/characters/normal_size/Z.svg
main/m5tft/utils/characters/small_size/A.svg
main/m5tft/utils/characters/small_size/B.svg
main/m5tft/utils/characters/small_size/C.svg
main/m5tft/utils/characters/small_size/D.svg
main/m5tft/utils/characters/small_size/E.svg
main/m5tft/utils/characters/small_size/F.svg
main/m5tft/utils/characters/small_size/G.svg
main/m5tft/utils/characters/small_size/H.svg
main/m5tft/utils/characters/small_size/I.svg
main/m5tft/utils/characters/small_size/J.svg
main/m5tft/utils/characters/small_size/K.svg
main/m5tft/utils/characters/small_size/L.svg
main/m5tft/utils/characters/small_size/M.svg
main/m5tft/utils/characters/small_size/N.svg
main/m5tft/utils/characters/small_size/O.svg
main/m5tft/utils/characters/small_size/P.svg
main/m5tft/utils/characters/small_size/Q.svg
main/m5tft/utils/characters/small_size/R.svg
main/m5tft/utils/characters/small_size/S.svg
main/m5tft/utils/characters/small_size/T.svg
main/m5tft/utils/characters/small_size/U.svg
main/m5tft/utils/characters/small_size/V.svg
main/m5tft/utils/characters/small_size/W.svg
main/m5tft/utils/characters/small_size/X.svg
main/m5tft/utils/characters/small_size/Y.svg
main/m5tft/utils/characters/small_size/Z.svg
